.empty-cart {
    background-color: #f8f4f4;
    width: 70%;
    height: 40%;
}

.empty-cart-msg {
    font-size: 3rem;
    margin: 7rem 5rem;
}

.empty-cart-icon {
    font-size: 7rem;
    margin-top: 5rem;
}

table {
    width: 100%;
    background-color: #faf8f8;
}

.cart-header {
    font-size: x-large;
    color: black;
    width: 92%;
}

.price-header {
    font-size: medium;
    /* float: right; */
}

.title {
    color: royalblue;
    font-size: 35px;
    margin: 32px 8px;
    font-weight: 500;
}

.image {
    height: 150px;
    width: 200px;
    margin: 10px;
}

.quantity {
    display: inline-flex;
    width: 7%;
    height: 14%;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 5px;
    margin: 8px;
}

.delete-item {
    margin: 8px;
    cursor: pointer;
    display: inline-flex;
}

.delete {
    color: sienna;
}

.price {
    margin: 28px 10px;
    font-size: 25px;
}